@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=BhuTuka+Expanded+One&family=Kumbh+Sans:wght@400;700&family=Open+Sans&family=Oswald:wght@500&family=Outfit:wght@400;700&family=Plus+Jakarta+Sans&family=Poppins&family=Roboto:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'kumbh sans';
    background-color: #19A1AE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/Oval\ Copy\ 30\ \(1\).svg), url(./assets/Oval\ Copy\ 32.svg);
    background-repeat: no-repeat;
    background-position: right 48vw bottom 50vh, left 45vw top 24vw;
}


.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 350px;
    height: auto;
    border-radius: 12px 12px 12px 12px;
}
.blue{
    border-radius: 12px 12px 0 0;
    background-color: #41CBD3;
}

.man{
    position: relative;
    top: -50px;
    margin-bottom: -40px;
}



.name{
    color: #2E3349;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
}

.name1{
    color: #6B7082;
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
}

.text{
    color: #6B7082;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    padding-top: 15px;
}

.border{
    border: 1px solid #6B7082;
    width: 100%;
    margin-top: 40px;
}


.flex1{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 23px;
}


.second-flex{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
}

.line .uio{
    display: block;
    color: #6B7082;
    font-size: 14px;
    padding-bottom: 25px;
}

.line{
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;
    font-size: 30px;
    width: 100%;
    color: #2E3349;
}